.ai-container {
    margin-top: 100px;
    text-align: center;
  }
  
  .ai-title {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 140px;
    font-size: 25px;
  }
  
  .ai-description {
    margin-bottom: 40px;
    font-size: 25px;
  }
  
  .project-card {
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
  }
  
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 0.9em;
    color: #666;
  }
  
  @media (max-width: 576px) {
    .card-title {
      font-size: 1em;
    }
  
    .card-text {
      font-size: 0.85em;
    }
  }
  